<h2> Random Forest Classifier </h2>

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
%matplotlib inline

C:\Users\david\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
i = df.values.astype('uint8')

In [9]:
a=df.iloc[:5,1:].values

In [18]:
a=a.reshape(28,28).astype('uint8')

In [20]:
df_x=df.iloc[:,1:]
df_y=df.iloc[:,0]

In [22]:
x_train, x_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.2, random_state=4)

In [25]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [26]:
predictions=rf.predict(x_test)

In [33]:
predictions
count = 0
s = y_test.values

In [34]:
for i in range(len(predictions)):
    if predictions[i] == s[i]:
        count = count+1

In [36]:
count

8070

In [37]:
len(predictions)

8400

In [38]:
count/len(predictions)

0.9607142857142857

<h2> Deep Learning </h2>

In [12]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn import datasets
from nolearn.dbn import DBN
import numpy as np
import cv2

SyntaxError: Missing parentheses in call to 'print' (gnumpy.py, line 52)

In [14]:

(trainX, testX, trainY, testY) = train_test_split(
	df.data / 255.0, dataset.target.astype("int0"), test_size = 0.33)

AttributeError: 'DataFrame' object has no attribute 'data'